


    <header>
        <h1>Welcome to Placement Cell App</h1>
    </header>
    <main>
        <section>
            <br>
            <h2>About Us</h2>
            <p>This is the homepage of our Placement Cell App.</p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li>Manage student data</li>
                <li>Add Interviews fro Student</li>
                <li>Manage interview schedules</li>
                <li>Set interview Results</li>
                <li>Generate reports</li>
                <!-- Add more features as needed -->
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Placement Cell App</p>
    </footer>

